<header class="masthead">

<nav class="language-nav">

  <ul class="masthead-links">
    <li>
      <i>CSS</i>
    </li>

    <li>
      <button>HTML</button>
    </li>

    <li>
      <i>Javascript</i>
    </li>

    <li>
      <i>Ruby</i>
    </li>
  </ul>
</nav>

<img class ='logo' src="assets/AA_Times_Logo.png" alt="logo">
<ul class="masthead-links">
    <time>Tuesday, October 18, 2016</time>
    <button><i class="far fa-newspaper"></i>Today's Paper</button>
    <button><i class="fas fa-video"></i>Video</button>
    <button><i class='icon'>77°F</i></button>
    <button><i class='icon'>AAO <strong>100%</strong></i></button>
</ul>

</header>
