
  <ul class="se">

      <button>World</button>
      <button>San Fransisco</button>
      <button>New York</button>
      <button>Bootcamp Prep</button>
      <button>Jumpstart</button>
      <button>Online</button>
      <button>Marketing</button>
      <button>Sales</button>
      <button>TalentMatch</button>
      <button>Alumni</button>
      <button style="text-decoration: underline;">All</button>

  </ul>
